{% extends "base.html" %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/list-assignments-style.css' %}" media="screen" type="text/css" />
<link rel="stylesheet" href="{% static 'css/create-assignment-style.css' %}" media="screen" type="text/css" />
<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" media="screen" type="text/css" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/create-assignment.js' %}"></script>
{% endblock %}


{% block main_container %}

<section id="assignment" data-id="{%block assignment_id %}{%endblock%}" class="disciplina center-block">

    <div class="row title">
        <div class="pull-left">
            <a>{% block activity-title %} Criar Atividade {% endblock %}</a>
        </div>
    </div>
    <div class="activity row">

        <form role="form" class="form-horizontal container-fluid">
            <div class="row title-heading">
                <div class="col-sm-5">
                    <h3>Descrição</h3>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-sm-12 clearfix">
                        <input type="name" class="form-control input-lg" id="inputName" placeholder="Nome" value="{%block name-default %}{% endblock %}">
                    </div>
                </div>
            </div>

            <div class="row title-heading">
                <div class="col-sm-5">
                    <h3>Deadlines</h3>
                </div>
            </div>

            <div class="row">
                <div class="row">

                    <div class="col-sm-4">
                        <h5>Submissão</h5>
                    </div>

                    <div class="col-sm-4">
                        <h5>Discussão</h5>
                    </div>

                    <div class="col-sm-4">
                        <h5>Nota</h5>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-4">
                        <div class='input-group date' id='submission-picker'
                                date-date-format="YYYY/MM/DD HH:MM"
                                data-date-defaultDate="{%block submission-default-date %}{%endblock%}">
                            <input type='text' class="form-control" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class='input-group date' id='discussion-picker'
                                data-date-defaultDate="{%block discussion-default-date %}{%endblock%}">
                            <input type='text' class="form-control" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class='input-group date' id='grading-picker'
                                data-date-defaultDate="{%block grading-default-date %}{%endblock%}">
                            <input type='text' class="form-control" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="warning-container" class="height-alert alert alert-warning" style="display: none;">
                </div>
            </div>

            <div class="row title-heading top-margin">
                <div class="col-sm-5">
                    <h3>Critérios</h3>
                </div>
                <div class="col-sm-7 criterias-buttons">
                    <div class="row pull-right">
                        <div class="col-sm-6">
                            <button id="addCriteria" type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
                        </div>
                        <div class="col-sm-6">
                            <button id="removeCriteria" type="button" class="btn btn-danger"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row criterias">
                {% block criterias %}
                    <div class="row criteria">
                        <div class="col-sm-10">
                            <input type="description" class="form-control" placeholder="Descrição">
                        </div>

                        <div class="col-sm-2">
                            <input type="weight" class="form-control" placeholder="Peso">
                        </div>
                    </div>
                {% endblock %}
            </div>

            <div class="row submit-button">
                <button id="createAssignment" type="button" class="btn btn-success btn-lg btn-block">
                    {% block submit-title %} Criar Atividade {% endblock %}</button>
            </div>

        </form>

    </div>

</section>

<div id="template_criteria" class="row criteria" style="display: none;">

    <div class="col-sm-10">
        <input type="description" class="form-control" placeholder="Descrição">
    </div>

    <div class="col-sm-2">
        <input type="weight" class="form-control" placeholder="Peso">
    </div>

</div>


{% endblock %}
