.bg {
padding-top: 40px;
padding-bottom: 40px;
background-color: #323d54;
}

.top-padding {
  margin-top: 20px;
}

bottom-padding {
  margin-bottom: 20px;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {

  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  text-align: center;
  color: #e5e5e5;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.authenty.signin-main input[type="text"],
.authenty.signin-main input[type="password"] {
  background-color: #404040;
  padding-left: 20px;
  border-radius: 0;
  border: none;
  margin-bottom: 10px;
  color: #cccccc;
  height: 43px;
}