<!DOCTYPE html>
{% load static %}

<html>

<head>

  <meta charset="UTF-8">

  <title>Login - Peer Assessment</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" type="text/css" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" media="screen" type="text/css" />
    <script src="{% static 'js/jquery-1.11.1.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <!--<script src='http://codepen.io/assets/libs/fullpage/none.js'></script> -->

</head>

<body class="bg">

    <div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Peer Assessment</h2>
        <input type="email" class="form-control textview" placeholder="Email address" required="" autofocus="">
        <input type="password" class="form-control textview" placeholder="Password" required="">
        <div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  

</body>
</html>